<div>
  <div>{{node.footer}}</div>
  <div data-ng-if="GLTranslate.indirect.appLanguage === 'de'">
    <div class="pull-right" style="padding-right: 2em">
      <a href="http://www.oetker-gruppe.de/de/footer-meta/datenschutz.html">Datenschutz</a> | <a href="http://www.oetker-gruppe.de/de/footer-meta/rechtshinweis.html">Rechtshinweis</a> | <a href="http://www.oetker-gruppe.de/de/footer-meta/impressum.html">Impressum</a>
    </div>
  </div>
  <div class="pull-right" data-ng-if="GLTranslate.indirect.appLanguage === 'en'">
    <div style="padding-right: 2em">
      <a href="http://www.oetker-group.com/en/footer-meta/data-protection-notice.html">Data Protection Notice</a> | <a href="http://www.oetker-group.com/en/footer-meta/legal-notice.html">Legal Notice</a> | <a href="http://www.oetker-group.com/en/footer-meta/imprint.html">Imprint</a>
    </div>
  </div>
</div>
