<div id="HeaderBoxHomepage" data-ng-show="isHomepage()" >
  <div style="position: relative; right: 20px" data-ng-if="!isWizard()" data-ng-include="'views/partials/language.html'"></div>
  <div class="clearfix"></div>
  <div id="HeaderBoxHomepageContent">
    <span id="LogoBoxHomepage" class="pull-left">
      <a href="/#/"><img data-ng-src="{{logo}}"></a>
    </span>
    <span id="UserBoxHomepage" class="pull-right" data-ng-if="!isWizard()" data-ng-include="'views/partials/user.html'"></span>
  </div>
  <div class="clearfix"></div>
</div>

<div id="HeaderBox" data-ng-show="!isHomepage()">
  <div style="position: relative; right: 20px" data-ng-if="!isWizard()" data-ng-include="'views/partials/language.html'"></div>
  <div class="clearfix"></div>
  <div id="HeaderBoxContent">
    <span id="LogoBox" class="pull-left">
      <a href="/#/"><img data-ng-src="{{logo}}"></a>
    </span>
    <span id="UserBox" class="pull-right" data-ng-if="!isWizard()" data-ng-include="'views/partials/user.html'"></span>
  </div>
  <div class="clearfix"></div>
</div>
