<div id="IntroBox" data-ng-switch="" on="step">
  <div data-ng-switch-when="0">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle" data-translate>Select Language</div>
      <div data-translate>Please select which language you wish to use.</div>
      <br />
      <div id="LanguagePreselectorBox" class="row">
        <span class="LanguagePreselectorBoxElem" data-ng-class="{LanguageSelected: data.language == 'en', LanguageDeselected: data.language != 'en'}" data-ng-click="data.language='en'">
          <div class="LanguagePreselectorBoxElemText">
            <span>
              <input ng-model="data.language" type="radio" name="language" value="en"><br />
              <p>English</p>
              <p>&nbsp;</p>
            </span>
          </div>
        </span>
        <span class="LanguagePreselectorBoxElem" data-ng-class="{LanguageSelected: data.language == 'ar', LanguageDeselected: data.language != 'ar'}" data-ng-click="data.language='ar'">
          <div class="LanguagePreselectorBoxElemText">
            <span>
              <input ng-model="data.language" type="radio" name="language" value="ar"><br />
              <p>Arabic</p>
              <p>ﺎﻠﻋَﺮَﺒِﻳﺓُ</p>
            </span>
          </div>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="proceed()">
          <span data-translate>Proceed</span>
        </button>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="1">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle">Be Secure</div>
      <div>While using the Tor Browser will protect your anonymity, it is not foolproof.</div>
      <div>Remember to always follow <a href="">recommended security advices</a>.</div>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a data-ng-click="back()" data-translate>back</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="proceed()">
          <span data-translate>Next</span>
        </button>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="2">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle">Sharing Information</div>
      <div>In order for the information you provide to be acted on, please be as specific as possible i.e. add location, names and dates where possible.</div>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a data-ng-click="back()" data-translate>back</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="cancel()">
          <span data-translate>Proceed</span>
        </button>
      </div>
    </div>
  </div
</div>
