<div data-ng-repeat="comment in tip.comments | orderBy:'creation_date'">
  <div data-ng-switch="" on="comment.type">
    <div data-ng-switch-when="whistleblower">
      <div class="row">
        <div class="pull-right" style="margin-right:20px">
          <div><strong>Whistleblower</strong></div>
          <div>{{comment.creation_date | date:'dd-MM-yyyy | HH:mm'}}</div>
          <div style="position:relative; top: 10px; float: right"><img title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAABQElEQVRIDbWVPQ7CMAyFnQ5wBjbUK9AOiIXLUA4ES3sEJO7AghB/d+jGGWBosCuMoI2TJtBIkVvH8XuqP6kAP6zjUS9p/9ACVOjl/V5Ph0PY0f37HeazmTqE9AoycLnoEYpdcVOkdcM9SRJF0WtFXtVYvNnoQVXBFh9ZnFqMKEdn9OKzvA3EMayjCKZNEcrRWTPvevcy8AJuYWm68IWyMwMf0Lk+88MHyk4GDNBZPkJ91BlK5wgE6FwGOkPpNDAew8oEncsB3aG7rjrrCM5nnSkFuauJ7VxrWKapKqQa0YAHdFJvzluhNBoIgI7FpChC2WIgEDpJmPMilC0DBE4IdKwkRQnKrxH8AzrJAOebUL4N/BE61pLiF5S1gR6gk8Q5/4ZSEXQ4910fc2c1U8Tf96EsYa5OJ52jeGYq6juHJoonDCSFVgQCr3oAAAAASUVORK5CYII=" /></div>
        </div>
      </div>
      <div class="CommentWhistleblower preformatted">{{comment.content}}</div>
    </div>

    <div data-ng-switch-when="receiver">
      <div class="row">
        <div class="pull-left" style="margin-left:20px">
          <div><strong>Amnesty</strong></div>
          <div>{{comment.creation_date | date:'dd-MM-yyyy | HH:mm'}}</div>
          <div class="pull-left" style="position:relative; top: 10px; float: left"><img title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAABP0lEQVRIDbWVPQ7CMAyFnQ70DGyIKwADYuEy0APBAkeoxB26VIi/O7BxhjIQbIQrWuqkcSFS5MaJ/Z6aTy1Ah3Gwh4RmhxZgtMW5zacxxBnVF1DMZ2a21/RSGTjbcx/FLjgp0rjhHI3NmGLQiIJO4+HUpr0HPHb4yOLUok852qNFyAg2MIThOoJoWhehHO3V8751kIE3cAtH00UolK0Z+IDO95rvIVC2MtAAneMlvLZaQ+m9AgE6n4HWUHoNDGCwaoLO54BqqNZ3znkFJ3taGjAbXxPXvgWbTMxkK50RDQRAJ/XmvBPKRgMK6FhMiiKUXwwooZOEOS9C+WVACx0rSVGCsnIFv4BOMsD5OpSlgR9Cx1pSrED5MvAH6CRxzpdQGoIO7z3TfGy4mybi73t/hevcHO1xg+JLTZOuNWhi+wT/sYVWANyipQAAAABJRU5ErkJggg=="/></div>
        </div>
      </div>
      <div class="CommentReceiver preformatted">{{comment.content}}</div>
    </div>

  </div>
</div>
<div id="TipCommunication">
  <h3>
    <span data-translate>Add a comment</span>
  </h3>
  <br />
  <textarea data-ng-model="tip.newCommentContent" maxlength="{{node.maximum_textsize}}" class="form-control msd-elastic"></textarea>
  <br />
  <button class="btn SubmissionSubmitButton" data-ng-click="newComment()" data-ng-disabled="!tip.newCommentContent || tip.newCommentContent == ''">
    <span data-translate>Send</span>
  </button>
</div>
