<div data-ng-controller="UserCtrl">
  <div id="LoginStatusBox" class="row" data-ng-if="showLoginForm() || session_id">
    <div data-ng-show="session_id" class="pull-right">
      <span id="RoleBox">
        <label>
          <span data-translate>Currently logged in</span>
          (<a href="{{homepage}}">{{role}}</a>)
        </label>
      </span>
      <span>|</span>
      <span id="LogoutBox">
        <a href="" data-ng-click="logout()" data-translate>Logout</a>
      </span>
    </div>
    <div data-ng-show="showLoginForm() && !session_id" class="pull-right">
      <div>
        <span>{{language == "en" ? "Have you already filed a submission? Enter your key code." : "ﻪﻟ ﺲﺒﻗ ﻭ ﻊﻣّﺮﺗ ﺖﻗﺪﻴﻣﺍ؟ ﺃﺪﺨﻟ ﺮﻣﺯ ﺎﻠﻤﻔﺗﺎﺣ ﺎﻠﺧﺎﺻّ ﺐﻛ.";}}</span>
      </div>
      <div data-ng-include="'views/partials/wb_login.html'"></div>
    </div>
  </div>
</div>
