<div data-ng-if="receivers_selectable && submission.current_context.show_receivers">
  <div class="row">
    <div class="col-md-12">
      <label data-translate>Receiver selection</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" data-ng-include="'views/submission/receiver_selection.html'"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div data-ng-repeat="step in submission.current_context.steps" data-ng-controller="SubmissionStepCtrl" class="row">
      <div>
        <div class="col-md-12">
          <p class="stepDescription">{{step.description}}</p>
        </div>
      </div>
      <div>
        <div class="col-md-7">
          <div data-ng-include="'views/submission/form.html'"></div>
        </div>
        <div class="col-md-offset-1 col-md-4">
          <div id="SubmitBox" class="row">
            <div>
              <span style="float: left; width: 60%">
                <input type="checkbox" data-ng-model="accepted"/>
                <span>{{language == 'en' ? 'I understand that Amnesty does not act on all information recieved nor can we guarantee your security.' : 'أتفهم أن هناك مجازفة في إرسال هذه المعلومات وأن منظمة العفو لن تستخدمها كلها';}}</span>
              </span>
              <span style="float: right; padding-top: 20px; padding-left: 30px">
                <button class="btn SubmissionSubmitButton" data-ng-click="submit()"
                    data-ng-disabled="!accepted || uploading || submissionForm.$invalid || !receiver_selected" type="submit">
                  <span data-translate>Submit</span>
                </button>
              </span>
              <span style="clear: both"></span>
            </div>
          </div>
          <br />
          <div class="row" data-ng-include="'views/partials/fileupload_status.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
