<div id="TipPageReceiversInfoBox" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed" data-ng-keypress="eventDismiss(); $event.stopPropagation();">
    <div>
      <span>Stato della segnalazione</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
      </span>
    </div>
  </div>
  <div class="TipPageSectionContent panel-body" data-ng-show="!collapsed">
    <div class="submissionField">
      <label>Stato:</label>&nbsp;
      <select class="form-control">
        <option class="0">Non ancora presa in carico</div>
        <option value="1">Presa in carico</option>
        <option value="2" selected>In istruttoria</option>
        <option value="3">Archiviata</option>
        <option value="4">Inoltrata ad autorità</option>
      </select>
    </div>
    <div class="submissionField">
      <label>Data presa in carico:</label>&nbsp; 02-07-2015
    </div>
    <div class="submissionField">
      <label>Assagnato a:</label>&nbsp;
      <select class="form-control">
        <option value="1">Istruttore 1</option>
        <option value="2">Istruttore 2</option>
        <option value="3">Istruttore 3</option>
      </select>
    </div>
    <div class="submissionField">
      <label>Data assegnazione:</label>&nbsp; 13-07-2015
    </div>
  </div>
</div>
