<!doctype html>
<html >
  <head>
    <title data-ng-bind="node.name"></title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="referrer" content="never" />

    <!-- Ticket #1480 : Specify the ordered IE support starting from EDGE and ending with 11 -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,11" />

    <link rel="icon" href="inlinefiles/favicon.ico" type="image/x-icon">

    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="/components/bootstrap-inline-rtl/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/submission.css" />
    <link rel="stylesheet" href="/css/tip.css" />
    <!-- endbuild -->

    <!-- build:js js/scripts.js -->
    <script src="/components/stacktrace-js/dist/stacktrace.min.js"></script>
    <script src="/components/scrypt-async/scrypt-async.min.js"></script>
    <script src="/components/openpgp/dist/openpgp.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-aria/angular-aria.min.js"></script>
    <script src="/components/angular-filter/dist/angular-filter.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/components/angular-translate/angular-translate.min.js"></script>
    <script src="/components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="/components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="/components/d3/d3.min.js"></script>
    <script src="/components/file-saver.js/FileSaver.js"></script>
    <script src="/components/angular-file-saver/dist/angular-file-saver.min.js"></script>
    <script src="/components/flow.js/dist/flow.min.js"></script>
    <script src="/components/ng-flow/dist/ng-flow.min.js"></script>
    <script src="/components/zxcvbn/dist/zxcvbn.js"></script>
    <script src="/components/angular-zxcvbn/dist/angular-zxcvbn.js"></script>
    <script src="/components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>

  </head>
  <body>
  <div data-ng-app="bsApp">
  </div>
    <!-- endbuild -->
    <form id="SampleForm" autocomplete="on">
      <label>name[text]: <input id="nameInput" name="name" type="text"  required/></label> <br />
      <label>email[text]: <input type="email" type="text"  /> </label> <br />
      <label>username[text]: <input name="username" type="text"  /> </label>  <br />
      <label>[password]: <input name="password" type="password"  /> </label> <br />
      <label>textarea[text]: <textarea name="fieldAnwser" id="TipCommunicationCommentsInput"></textarea> </label> <br />
      <label>shorttext[text]: <input type="text" name="shortfieldAnwser" ></input> </label> <br />
      <label>keycode[text]: <input id="ReceiptInp" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" name="keycode"> </label> <br />
    </form>
    <br />
    <button id='submitBtn' type="submit" value="Submit" form="SampleForm">Submit</button>
  <script>
    angular.module('bsApp', []);
  </script>
  </body>
</html>
