<div class="row" data-ng-controller="TipCtrl">
  <div class="col-md-5">
    <div class="col-md-12">
      <dl>
        <dt>
          <h1>Activity</h1>
          <div>Created Submission: {{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</span>
          <div>Expires {{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}<span>
          <div>{{tip.context_name}}</div>
        </dt>
      </dl>
      <div data-ng-if="tip.wb_steps[0]['children'][1]['value']">
        <div class="row">
          <div class="pull-right" style="margin-right:20px">
            <div><strong>Whistleblower</strong></div>
            <div>{{tip.creation_date | date:'dd-MM-yyyy | HH:mm'}}</div>
            <div style="position:relative; top: 10px; float: right"><img title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAABQElEQVRIDbWVPQ7CMAyFnQ5wBjbUK9AOiIXLUA4ES3sEJO7AghB/d+jGGWBosCuMoI2TJtBIkVvH8XuqP6kAP6zjUS9p/9ACVOjl/V5Ph0PY0f37HeazmTqE9AoycLnoEYpdcVOkdcM9SRJF0WtFXtVYvNnoQVXBFh9ZnFqMKEdn9OKzvA3EMayjCKZNEcrRWTPvevcy8AJuYWm68IWyMwMf0Lk+88MHyk4GDNBZPkJ91BlK5wgE6FwGOkPpNDAew8oEncsB3aG7rjrrCM5nnSkFuauJ7VxrWKapKqQa0YAHdFJvzluhNBoIgI7FpChC2WIgEDpJmPMilC0DBE4IdKwkRQnKrxH8AzrJAOebUL4N/BE61pLiF5S1gR6gk8Q5/4ZSEXQ4910fc2c1U8Tf96EsYa5OJ52jeGYq6juHJoonDCSFVgQCr3oAAAAASUVORK5CYII=" /></div>
          </div>
        </div>
        <div class="CommentWhistleblower preformatted">{{tip.wb_steps[0]['children'][1]['value']}}</div>
      </div>
      <div data-ng-include="'views/partials/tip_communication.html'"></div>
    </div>
  </div>

  <div class="col-md-offset-2 col-md-5">
    <div class="row">
      <label data-translate>Files</label>
    </div>
    <div class="uploadingBox" data-ng-show="tip.files">
      <div data-ng-include="'views/partials/uploaded_files.html'"></div>
    </div>
    <div data-ng-form="" id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-app="GLClient.fileuploader" data-ng-controller="WBFileUploadCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
      <div class="row fileupload-buttonbar">
        <div class="col-md-7">
          <div class="fileinput-button" data-ng-class="{disabled: disabled || (fileupload_mode == 'single' && queue.length)}">
            <span style="color: blue" data-translate> + Add more files</span>
            <input type="file" name="files[]" data-ng-disabled="disabled" multiple />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
